.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

.colorItem {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}
.colorItem[data-size="sm"] {
  width: 1rem;
  height: 1rem;
}

.colorItem + .colorItem {
  margin-left: 0.5rem;
}
.colorItem[data-size="sm"] + .colorItem[data-size="sm"] {
  margin-left: 0.25rem;
}

.colorSelected {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 0.125rem #fff;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 2rem;
  z-index: -1;
}
